{% extends "layout.html" %}

{% block heading %}
	Register
{% endblock %}

{% block body %}
	<div class="center">
    <div class="form">
      <form action="/register" method="post">
        <label>Username</label>
  			<input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <label>Confirm Password</label>
        <input type="password" name="confirm">
  			<button type="submit">Register</button>
  		</form>
			<div class="error">{{message}}</div>
    </div>
	</div>
{% endblock %}
